@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* BASE STYLES */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding-top: 120px; /* Adjust based on navbar height */
}

/*    NAVBAR SECTION    */

.header {
  width: 100%;
}

.top-bar {
  background-color: rgb(17, 17, 17);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it is above other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.top-bar__content {
  height: 40px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
  font-size: 15px;
  color: white;
}

.icon {
  margin-right: 3px;
  color: white;
}

/*    BOTTOM-NAVBAR SECTION     */

.bottom-bar {
  background-color: rgb(37, 37, 37);
  position: fixed;
  top: 40px; /* Adjust based on top-bar height */
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it is above other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.bottom-bar__content {
  min-height: 80px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.logo__image {
  height: 70px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 20px;
}

.nav__item {
  font-size: 20px;
}

.nav__link {
  color: white;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: rgb(242, 133, 81);
}

.button-navbar {
  color: #fff;
  background-color: rgb(242, 133, 81);
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.button-navbar:hover {
  background-color: rgb(43, 51, 73);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hamburger {
  cursor: pointer;
  display: none; /* Hidden by default */
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/*    HERO SECTION     */

.hero {
  display: flex; /* Use flex for centering content */
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 550px; /* Fixed height */
  background: url('images/SiteBannerImage.png') no-repeat center center/cover;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black tint */
  z-index: 1;
}

.hero-content {
  max-width: 1000px;
  padding: 20px;
  position: relative; /* text shadow above tint */
  z-index: 2;
}

.hero h1 {
  font-size: 150px; /* font size for desktop */
  margin: 0;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Add shadow to text */
}

.hero p {
  font-size:40px; /* font size for desktop */
  text-transform: uppercase;
  margin: 20px 0 50px; /* More space between paragraph */
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* shadow text */
}

.hero-button {
  padding: 10px 20px;
  font-size: 25px; /* font size for desktop */
  color: white;
  background-color: rgb(242, 133, 81);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.hero-button:hover {
  background-color: rgb(43, 51, 73);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.social-links-hero {
	height: 40px;
	width: 100%;
  padding-top: 70px;
}

.social-links-hero a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(242, 133, 81);
	margin:0 5px 0 0 ;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	color: white;
	transition: all 0.5s ease;
}
.social-links-hero a:hover{
	background-color: rgb(43, 51, 73);
}

/*    SHOP SECTION     */

/*
.shop {
  height: 515px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(17, 17, 17);
}

.image-container {
  margin: 20px;
  overflow-x: hidden;
  max-width: 1500px;
}
.image-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  transition: .3s;
}
.image-wrapper > * {
  aspect-ratio: 7 / 6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.image-wrapper img 
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .5rem;
}
*/

.shop-button {
  margin-top: 450px;
  display: flex; /* Use flex for centering content */
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  background-color: rgb(242, 133, 81);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.shop-button:hover {
  background-color: rgb(43, 51, 73);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/*    SERVICES SECTION 1    */


.services-section {
  width: 100%;
  border-top: 3px solid rgb(242, 133, 81);
  background-color: rgb(37, 37, 37); 
  text-align: center;
  display: flex;
  justify-content: center; 
  gap: 5px; 
}

.services-box {
  height: 500px;
  width: 900px;
  color: white;
  display: inline-block;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

.services-box:nth-child(1) {
  background-image: url(/images/SistemeAudio.png);
  background-repeat: no-repeat;
  background-size: 900px;
}

.services-box:nth-child(2) {
  background-image: url('/images/Navigatii.png');
  background-repeat: no-repeat;
  background-size: 900px;
}

.services-box h2 {
  font-size: 70px;
  color: rgb(242, 133, 81);
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.services-box p {
  font-size: 30px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.services-box a {
  display: inline-block;
  background-color: rgb(242, 133, 81);
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: 10px 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services-box a:hover {
  background-color: rgb(43, 51, 73);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*      SERVICES SECTION 2      */


.services-section1 {
  width: 100%;
  padding-top: 5px;
  background-color: rgb(37, 37, 37);
  border-bottom: 3px solid rgb(242, 133, 81);
  background-color: rgb(37, 37, 37); 
  text-align: center;
  display: flex;
  justify-content: center;  
  gap: 5px;
}

.services-box1 {
  height: 500px;
  width: 900px;
  color: white;
  display: inline-block;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

.services-box1:nth-child(1) {
  background-image: url(/images/Iluminare.png);
  background-repeat: no-repeat;
  background-size: 900px;
}

.services-box1:nth-child(2) {
  background-image: url(/images/Insonorizare.png);
  background-repeat: no-repeat;
  background-size: 900px;
}

.services-box1 h2 {
  font-size: 70px;
  color: rgb(242, 133, 81);
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.services-box1 p {
  font-size: 30px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.services-box1 a {
  display: inline-block;
  background-color: rgb(242, 133, 81);
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: 10px 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services-box1 a:hover {
  background-color: rgb(43, 51, 73);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}




/*     PARTENER SECTION     */

.partener-section {
  height: 250px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(17, 17, 17);
}

.partener-section-text {
  font-size: 18px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
}

.image-container1 {
  margin-top: 70px;
  overflow-x: hidden;
  max-width: 1500px;
}
.image-wrapper1 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  transition: .3s;
}
.image-wrapper1 > * {
  aspect-ratio: 18 / 5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.image-wrapper1 img { /* Target images inside .image-wrapper1 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .5rem;
}


/*    BLOG SECTION     */








/*    FORM SECTION     */


.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.form-text {
  padding-bottom: 20px;
  text-align: center;
}

.contact-form-container {
  background-color: rgb(17, 17, 17);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 600px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

input, textarea, button {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="checkbox"] {
  top: 20px;
  width: 30px;
}

#contact-preference {
  display: inline-block;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

#contact-preference label {
  top:20px;
  margin: 0 20px 0 0;
}


button {
  background-color: rgb(242, 133, 81);
  margin-bottom: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: rgb(43, 51, 73);
}

.g-recaptcha {
  margin-bottom: 20px;
  align-self: center;
}



/*  GOOGLE MAPS SECTION   */


.map-section {
  width: 100%;
  height: 490px;
  background-color: rgb(37, 37, 37);
}

.map-container {
  display: flex;          /* Enables flexbox layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center;    /* Center content horizontally */
  justify-content: center;/* Center content vertically */
  height: 100%;           /* Full height of the parent container */
  position: relative;     /* Position relative to allow positioning of heading */
}

.map-container iframe {
  width: 60%;           /* Fixed width for the iframe */
  height: 450px;          /* Fixed height for the iframe */
  border: none;           /* Removes border around the iframe */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect for iframe */
}

/*    SCHEDULE SECTION    */

.schedule-section {
  width: 100%;
  height: 280px;
  background-color: rgb(37, 37, 37); 
  display: flex;
  justify-content: center;  
}

.schedule-box {
  height: 200px;
  width: 400px;
  text-align: center;
  color: white;
  display: inline-block;
  align-items: center;
  align-content: top;
  justify-content: center;
  position: relative;
}

.schedule-box h2{
  text-align: left;
  font-size: 27px;
  line-height: 2.5;
  color: rgb(242, 133, 81);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.schedule-box p{
  align-content: center;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}



/*    FOOTER   */


.footer {
  border-width:3px;
  border-top:solid;
  border-color: rgb(242, 133, 81);
}

.container{
	max-width: 1170px;
	margin:auto;
  
}
.row{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(17, 17, 17);
    padding: 80px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 25px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(242, 133, 81);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-rights {
  position: relative;
  top: 55px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center; 
  color: white; 
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: rgb(242, 133, 81);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(242, 133, 81);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	color: white;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	background-color: rgb(43, 51, 73);
}


/*<======================================> MEDIA QUERIES <========================================>*/


@media (max-width: 1200px) {
  .nav {
    position: fixed;
    top: 120px;
    left: -100%;
    border-bottom: 1px solid rgb(242, 133, 81);
    transform: translateX(-50%);
    background-color: rgb(17, 17, 17);
    width: 100%;
    padding: 10px 0 25px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
    z-index: 1000; /* Ensure it is above other content */
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .nav__link {
    font-size: 25px;
  }

  .button-navbar {
    font-size: 20px; /* Ensure button size matches the navbar button */
    padding: 8px 20px;
  }

  .hamburger {
    margin-right: 18px;
    display: block; /* Show hamburger icon */
  }

  .top-bar__content {
    justify-content: center; /* Center content on mobile */
  }
}


/*<==========================>  HERO SECTION MEDIA <===========================>*/


@media (max-width: 768px) {
  .hero h1 {
    font-size: 65px; /* Larger font size on mobile */
  }

  .hero p {
    font-size: 24px; /* Larger font size on mobile */
  }

  .hero-button {
    font-size: 24px; /* Increase button size on mobile */
    padding: 12px 24px; /* Larger padding on mobile */
  }
}

@media (max-width: 360px) {
  .top-bar__content {
    font-size: 10px;
  }
}


/*<==========================>  SHOP MEDIA <===========================>*/


@media (max-width: 768px) {
  .image-container {
    margin: 20px;
    overflow-x: hidden;
    max-width: 1500px;
  }
  .image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - ( 1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
  }

  .shop {
    height: 210px;
  }

  .shop-button {
    margin-top: 140px;
    font-size: 21px;
    padding: 12px 24px;
  }
}

@media (max-width: 480px) {
  .shop {
    height: 180px;
  }

  .shop-button {
    margin-top: 120px;
    font-size: 18px;
    padding: 12px 24px;
  }
}


/*<==========================>  SERVICES SECTION MEDIA <===========================>*/


@media (max-width: 768px) {
  .services-section {
    display: block; /* Switch to block layout */
    padding: 0 0px; /* Optional: Add padding for mobile layout */
  }

  .services-box {
    width: 100%; /* Full width for mobile view */
    margin: 1px 0; /* Adjust margin for spacing */
    background-size: contain; /* Ensure the image fits without being cropped */
    background-position: center; /* Center the image */
  }

  .services-box h2 {
    font-size: 45px; /* Adjust font size for mobile */
  }

  .services-box p {
    font-size: 22px; /* Adjust font size for mobile */
  }

  .services-box a {
    font-size: 18px; /* Adjust font size for mobile */
    padding: 12px 24px; /* Adjust padding for mobile */
  }
}


/*<==========================>  SERVICES SECTION-1 MEDIA <===========================>*/


@media (max-width: 768px) {
  .services-section1 {
    display: block; /* Switch to block layout */
    padding: 0 0px; /* Optional: Add padding for mobile layout */
  }

  .services-box1 {
    width: 100%; /* Full width for mobile view */
    margin: 1px 0; /* Adjust margin for spacing */
    background-size: contain; /* Ensure the image fits without being cropped */
    background-position: center; /* Center the image */
  }

  .services-box1 h2 {
    font-size: 45px; /* Adjust font size for mobile */
  }

  .services-box1 p {
    font-size: 22px; /* Adjust font size for mobile */
  }

  .services-box1 a {
    font-size: 18px; /* Adjust font size for mobile */
    padding: 12px 24px; /* Adjust padding for mobile */
  }
}


/*<==========================>  FORM MEDIA <===========================>*/


@media (max-width: 480px) {
  .form-section {
    height: auto; /* Adjust height to auto for better responsiveness */
  }

  .form-text {
    padding-top: 20px;
  }
  
  .contact-form-container {
    padding: 20px;
    padding-top: 20px;
    width: 370px; 
  }

  .contact-form-container h2 {
    margin-top: 10px;
    font-size: 27px;
  }

  .contact-form-container .submit-button {
    font-size: 16px;
  }

  #contact-preference {
    width: 100%; /* Ensure the contact preference section takes full width */
  }

  #contact-preference label {
    width: 100%; /* Ensure each label takes full width */
    margin-bottom: 10px;
  }
}

/*<==========================>  GOOGLE-MAPS MEDIA <===========================>*/

@media (max-width: 768px) {
  .map-section {
    height: 230px;         /* Further reduced height for mobile */
  }

  .map-container h2 {
    font-size: 27px;      /* Further adjust text size */
    margin-bottom: 15px;   /* Adjust spacing from iframe */
  }

  .map-container iframe {
    width: 95%;           /* Full width for the iframe */
    height: 200px;         /* Adjust height further for small screens */
  }
}

@media (max-width: 480px) {
  .map-section {
    height: 240px;         /* Further reduced height for mobile */
  }

  .map-container h2 {
    font-size: 27px;      /* Further adjust text size */
    margin-bottom: 15px;   /* Adjust spacing from iframe */
  }

  .map-container iframe {
    width: 92%;           /* Full width for the iframe */
    height: 200px;         /* Adjust height further for small screens */
  }
}

/*   Schedule */

@media (max-width: 768px) {
  .schedule-section {
    height: auto; /* Allow the height to adjust based on content */
    padding: 0px 20px 10px 20px; /* Add some padding for better spacing */
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-start; /* Align items to the top */
  }

  .schedule-box {
    width: 100%; /* Take up more space on smaller screens */
    height: auto; /* Adjust height to fit content */
    margin-bottom: 10px; /* Add some space between schedule boxes */
  }

  .schedule-box h2 {
    font-size: 25px; /* Adjust font size for better readability */
  }

  .schedule-box p {
    font-size: 18px; /* Adjust paragraph font size */
  }
}

@media (max-width: 480px) {
  .schedule-box h2 {
    font-size: 25px; /* Further adjust heading size for small screens */
  }

  .schedule-box p {
    font-size: 18px; /* Further adjust paragraph size */
  }
}










/*<==========================>  FOOTER MEDIA <===========================>*/


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
